# files
.project
.classpath
.pmd
.ruleset
content.xml

# directories
.settings
.idea
.settings
target
reports
simpleods5.3
generated_files

# extensions
*.old
*.class
*.ods
*.*#

# all jars, but simpleods
*.jar
!src/misc/bench/resources/simpleods-0.5.3.jar

*.iml

# mvn release
release.properties
pom.xml.*
