# files
.project
.classpath
.pmd
.ruleset
content.xml

# directories
.settings
.idea
target
reports
simpleods5.3
generated_files
history

# extensions
*.old
*.class
*.ods
!fastods-examples/src/test/resources/a_hello_world_example.ods
*.*#

# all jars, but simpleods
*.jar
!src/misc/bench/resources/simpleods-0.5.3.jar

*.iml

# mvn release
release.properties
pom.xml.*

.travis.yml