# files
.project
.classpath
.pmd
.ruleset
content.xml

# directories
.settings
.idea
.settings
target
reports
simpleods5.3
generated_files

# extensions
*.old
*.ods
*.*#
**/*.jar
*.iml

# mvn release
release.properties
pom.xml.*

